* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.grid {
    width: 1000px;
    background-color: grey ;
    margin: 0 auto;
}

.card {
    display: inline-block;
    width: calc(1000px / 3 - 33px);
    margin: 0 15px;
    border: 1px #ccc solid;
    background-size: 90%;
    padding: 50px 0;
    position: relative;
}

.card .a{
    width: 100%;
}

.card .b{
    display: none;
    width: 100%;
}

.card:hover .a{ 
    display: none;
} 

.card:hover .b{ 
    display: inline-block;
}

.dettails {
    position: absolute;
    bottom: 70px;
    left: 0px;
    border-radius: 50%;
}

.alert {
    display: inline-block;
    padding: 3px 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.like {
    position: absolute;
    top: 70px;
    right: 0px;
    background-color: white;
    padding: 14px 14px;
    font-size: 18px;
}