* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.grid {
    width: 1000px;
    
    margin: 0 auto;
}

.card {
    display: inline-block;
    width: calc(1000px / 3 - 33px);
    margin: 0 15px;
    background-size: 90%;
    padding: 50px 0;
    position: relative;
}

.card .a{
    width: 100%;
}

.card .b{
    display: none;
    width: 100%;
}

.card:hover .a{ 
    display: none;
} 

.card:hover .b{ 
    display: inline-block;
}

.dettails {
    position: absolute;
    bottom: 125px;
    left: 0px;
    border-radius: 50%;
}

.alert {
    display: inline-block;
    padding: 3px 5px;
    color: white;
    font-size: 14px;
    font-weight: bold;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.like {
    position: absolute;
    top: 70px;
    right: 0px;
    background-color: white;
    padding: 14px 14px;
    font-size: 18px;
}

.brand {
    font-size: 14px;
    color: #1a1a1a
}

.product {
    font-size: 18px;
}

.price {
    font-size: 14px;
    font-weight: bold;
    color: red;
}

.minus-price {
    font-size: 14px;
    font-weight: bold;
    text-decoration:line-through;
    margin-left: 5px;
    color: black;
}